asgiref==3.2.3
dj-database-url==0.5.0
Django>=3.0.14
django-crispy-forms==1.8.1
django-flatpickr==1.0.1
html5lib==1.1
Pillow>=8.1.1
pip-autoremove==0.9.1
PyPDF2==1.26.0
python-decouple==3.3
pytz==2019.3
reportlab>=3.5.67
six==1.15.0
sqlparse==0.4.4
webencodings==0.5.1
whitenoise==5.1.0
xhtml2pdf==0.2.4
